# How do I create a pandas DataFrame from another object?

In [1]:
import pandas as pd

## By dictionary

In [5]:
pd.DataFrame({'id':[100,101,102],'color':['red','blue','red']})

  color   id
0   red  100
1  blue  101
2   red  102

In [6]:
pd.DataFrame({'id':[100,101,102],'color':['red','blue','red']},columns = ['id','color'])

    id color
0  100   red
1  101  blue
2  102   red

In [22]:
df = pd.DataFrame({'id':[100,101,102],'color':['red','blue','red']},columns = ['id','color'],index=['a','b','c'])

## By list

In [8]:
pd.DataFrame([[100,'red'],[101,'blue'],[102,'red']])

     0     1
0  100   red
1  101  blue
2  102   red

In [10]:
pd.DataFrame([[100,'red'],[101,'blue'],[102,'red']],columns=['id','color'])

    id color
0  100   red
1  101  blue
2  102   red

## By numpy array

In [11]:
import numpy as np

In [13]:
arr = np.random.rand(4,2)
arr

array([[ 0.75564004,  0.66769813],
       [ 0.56849312,  0.82202592],
       [ 0.24223586,  0.65112747],
       [ 0.22972549,  0.28772995]])

In [14]:
pd.DataFrame(arr,columns=['one','two'])

        one       two
0  0.755640  0.667698
1  0.568493  0.822026
2  0.242236  0.651127
3  0.229725  0.287730

In [17]:
pd.DataFrame({'student':np.arange(100,110,1),'test':np.random.randint(60,101,10)})

   student  test
0      100    92
1      101    94
2      102    82
3      103    91
4      104    81
5      105    70
6      106    88
7      107    98
8      108    99
9      109    84

In [18]:
pd.DataFrame({'student':np.arange(100,110,1),'test':np.random.randint(60,101,10)}).set_index('student')

         test
student
100        62
101        84
102        89
103        89
104       100
105        70
106        83
107        80
108        76
109        84

## bonus

Concat a series to a dataframe

In [25]:
s = pd.Series(['round','square'], index=['c','b'],name = 'shape')
s

c     round
b    square
Name: shape, dtype: object

In [23]:
df

    id color
a  100   red
b  101  blue
c  102   red

In [26]:
pd.concat([df,s],axis=1)

    id color   shape
a  100   red     NaN
b  101  blue  square
c  102   red   round

- The series name will be used as its column name
- Index will be used as allign key