# sample

In [1]:
import pandas as pd

In [3]:
ufo = pd.read_csv('https://bit.ly/uforeports')

In [4]:
ufo.sample(n=3)

             City Colors Reported Shape Reported State              Time
2541    Baltimore             NaN           DISK    MD  10/21/1973 17:30
995   San Lorenzo             NaN          LIGHT    CA    6/1/1965 21:00
8481  Oregon City             NaN            NaN    OR    8/8/1995 21:30

In [8]:
train = ufo.sample(frac=0.75,random_state = 3)

In [9]:
test = ufo.loc[~ufo.index.isin(train.index),:]