# When should I use the "inplace" parameter in pandas?

In [1]:
import pandas as pd

In [3]:
ufo = pd.read_csv('https://bit.ly/uforeports')

In [4]:
ufo.shape

(18241, 5)

In [5]:
ufo.head()

                   City Colors Reported Shape Reported State             Time
0                Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1           Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2               Holyoke             NaN           OVAL    CO  2/15/1931 14:00
3               Abilene             NaN           DISK    KS   6/1/1931 13:00
4  New York Worlds Fair             NaN          LIGHT    NY  4/18/1933 19:00

In [7]:
ufo.drop('City', axis=1).head()

  Colors Reported Shape Reported State             Time
0             NaN       TRIANGLE    NY   6/1/1930 22:00
1             NaN          OTHER    NJ  6/30/1930 20:00
2             NaN           OVAL    CO  2/15/1931 14:00
3             NaN           DISK    KS   6/1/1931 13:00
4             NaN          LIGHT    NY  4/18/1933 19:00

`drop` method defaults `inplace = False`

So if we really want to drop the column, we can set the parameter as `True`

In [8]:
ufo.drop('City', axis=1,inplace=True)

In [9]:
ufo.head()

  Colors Reported Shape Reported State             Time
0             NaN       TRIANGLE    NY   6/1/1930 22:00
1             NaN          OTHER    NJ  6/30/1930 20:00
2             NaN           OVAL    CO  2/15/1931 14:00
3             NaN           DISK    KS   6/1/1931 13:00
4             NaN          LIGHT    NY  4/18/1933 19:00

In [10]:
ufo.dropna(how='any').shape

(2490, 4)

In [11]:
ufo.shape

(18241, 4)

So `inplace=False` allows us to experience the impact of the operation without really change the dataframe.

Note: we can also do that by assignment, such as `ufo = ufo.dropna(how='any')`.

Sometimes the parameter `inplace` will cause people feel like more efficient and do not need extra space, while the assignment operation makes people reflect extra space and less efficient. However, actually the assignment DOES NOT worse than `inplace` parameter. It just looks like more official. And their efficiencies are actually the same.

In [12]:
ufo = ufo.set_index('Time')